<!DOCTYPE html>
<html lang="en">

<%- include ('../partials/head'); %>

<body class = 'container' style="padding-top: 50px">

    <%- include ('../partials/header', {pagina: 'sobre'}) %>

    <main>
        <div class = 'jumbotron'>
            <h1>Sobre Mim</h1>
            <p>Informações sobre quem desenvolveu</p>
        </div>
    </main>
    <%- include ('../partials/footer'); %>
</body>
</html>